@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background: rgb(0, 0, 0);
  color: rgb(252, 252, 252);
}
.webgl {
  position: absolute;
  outline: none;
  /* width: 100%;
  height: 100vh; */
  top: 0;
  left: 0;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #590000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
.header_cont {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menus {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  z-index: 2;
  
}
.menu img {
  width: 130px;
  cursor: pointer;
}
.stroke-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;

}
.menustroke {
  width: 20px;
  height: 2px;
  background-color: white;
}
.menus p {
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1px;

}
.open:hover {
  color: rgba(199, 199, 199, 0.7);
}
.close:hover {
  color: rgba(199, 199, 199, 0.7);
}

.menu p:hover {
  color: rgba(36, 36, 36, 0.7);
}

/* drop */
/* drop */
/* drop */

.drop {
  position: absolute;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color: rgb(0, 0, 0, 0.7); */
  /* make it transparent */
  /* opacity: 0.7; */
  display: flex;
  align-items: start;
  justify-content: center;
  z-index: 3;
}
.drop .active {
  top: 0;
  transition: top 0.5s ease-in-out;

}
.close{
  display: none;
}



.drop_cont {
  width: 100%;
  height: 80%;
  background: #590000;
  /* opacity: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.drop_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  /* margin-top: 100px; */
}
.drop_menu a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 400;
}
.drop_menu a:hover {
  color: rgba(29, 0, 0);
}
.logo {
  width: 50px;
  height: auto;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.icons a {
  text-decoration: none;
  color: rgb(249, 249, 249);
}

.icons > svg {
  cursor: pointer;
  width: 20px;
  height: 20px;
  fill: rgb(249, 249, 249);
}
.icons > svg:hover {
  fill: rgb(113, 113, 113);
}

/* Subheader */
/* Subheader */
/* Subheader */

.subheader {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(35, 35, 35);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.sub {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.sub a{
  text-decoration: none;
  color: white;
}
.top {
  width: 25px;
  height: 25x;
  fill: white;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.socials a {
text-decoration: none;
color: white;
}
.socials svg {
  width: 25px;
  height: 25px;
  fill: white;
  cursor: pointer;
}
.sub_cont {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub_button {
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  padding: 8px 20px;
  background-color: rgb(0, 122, 81);
  border-radius: 20px;
}

/* hero */
/* hero */
/* hero */

.hero {
  position: relative;
  width: 100%;
  /* height: 100vh; */
}
.hero_vid {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin-top: 50px;
}

/* banner 1 */
/* banner 1 */
/* banner 1 */

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  /* padding: 200px 0 0 0; */
  background: rgb(0,0,0);
  margin-top: -5px;
  
}
.banner img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  /* height: auto; */

}
.newflav {
  margin-top: 100px;
}
.newflav h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-weight: 800;
  /* color: #c40000; */
  /* add outline */
  -webkit-text-stroke: 2px #d06100;
  -webkit-text-fill-color: transparent;
  line-height: 1;
  animation: blink-animation 0.5s steps(5, start) infinite;
  -webkit-animation: blink-animation 0.5s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.videoscroll {
  position: relative;
  height: 100vh;
  width: 100%;
}
.banner2 {
  position: relative;
  width: 100%;
  height: auto;
  background: rgb(0,0,0);
  padding: 150px 0;
}
.banner2 img {
  width: 100%;
  height: auto;  
}

/* products */
/* products */
/* products */

.products {
  position: relative;
  padding: 120px 0 100px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(218, 218, 218);
  background-color: black;
}
.products_cont {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:80px;
}
.products_cont h1 {
  color: rgb(244, 244, 244);
  font-size: 100px;
  font-weight: 200;
  margin-bottom: 20px;
}
.pro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pro div {
  position: relative;
  width: 100%;
  height: 500px;
  /* object-fit: cover; */
}
.pro > div > img {
  width: 97.5%;
  height: 500px;
  object-fit: cover;
} 
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin-top: 60px;
  margin-bottom: 30px;
}
.text_p {
  font-size: 50px;
  font-weight: 400;
  text-align: left;
  width: 55%;
  line-height: 1.4;
  color: rgb(242, 242, 242);
}
.text_p span {
  color: #ffe46c;
}
.gsapwrap {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 80px;
  height: 300vh;
}
.imagea {
  width: 55%;
  height: auto;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  /* margin-top: -100px; */
  width: 55%;
  height: 100vh;
}
.info h1 {
  font-size: 60px;
  font-weight: 800;
  color: rgb(240, 240, 240);
}
.info p {
  font-size: 20px;
  color: rgb(210, 210, 210);
  margin-top: 30px;
  line-height: 1.6;
  font-weight: 400;
}

/* video scroll 2 */
/* video scroll 2 */
/* video scroll 2 */

.videoscroll2 {
  position: relative;
  height: 100vh;
  width: 100%;
}

/* About us */
/* About us */
/* About us */

.about {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 100px 0 0 0; */
  background: rgb(0,0,0);
  /* margin-top: 60px; */
}
.about_cont {
  /* width: 80%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(231, 231, 231);
}
.abouttext {
  width: 50%;
  padding-left: 7%;
}
.abouttext h1 {
  color: rgb(245, 245, 245);
  font-size: 120px;
  font-weight: 200;
}
.abouttext p {
  color: rgb(242, 242, 242);
  font-size: 30px;
  font-weight: 200;
  line-height: 1.6;
  margin-top: 40px;
  width: 80%;
}
.aboutimage {
  width: 50%;
  height: 100vh;
}
.aboutimage img{
  height: 100%;
}

/* video3 */
/* video3 */
/* video3 */

.video3 {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: -5px;
}
.video3 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* dual image */
/* dual image */
/* dual image */

.dualimage {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
}
.dualcont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dualcont div {
  width: 100%;
  height: 100vh;
  cursor: pointer;
}
.dualcont div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* footer */
/* footer */
/* footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
.footer1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: rgb(21, 21, 21);
  padding: 100px 0;
  background-color: rgb(233, 233, 233);
}
.footer1 p {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 400;
  color: rgb(78, 78, 78);
  
}
.footer1 h1 {
  font-size: 90px;
  font-weight: 400;
}
footer span {
  font-size: 20px;
  font-weight: 400;
  padding: 20px 50px;
  background-color: rgb(39, 39, 39);
  color: rgb(239, 239, 239);
  border-radius: 40px;
  margin-top: 5px;
}
.footer2 {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  /* gap: 20px; */
  align-items: center;
  justify-content: center;
  color: rgb(197, 197, 197);
  padding: 100px 0;
  background-color: rgb(0, 0, 0);
}
.foot2_cont {
  width: 80%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footlogo {
  font-size: 50px;
}
.footmenus {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;
}
.footmenus h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}
.foot2_cont img {
  width: 250px;
  height: auto;
}

/* scroller */
/* scroller */
/* scroller */

.sticky--container {
  position: relative;
}

#hero-screen--canvas,
#hero-screen--canvas2 {
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  display: flex;
}

.scrubber--container {
  z-index: -1;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.sticky--spacer {
  display: block !important;
  height: 200vh;
}


@media  (max-width: 500px) {
  .header_cont {
    width: 95%
  }
  .menu {
    gap: 2px;
  }
  .menu img {
    width: 70px;
  }
  .icons {
    gap: 10px;
  }
  .icons a {
    font-size: 14px;
  }
  .sub_cont {
    width: 95%;
  }
  .sub {
    gap: 20px;
  }
  .socials {
    gap: 15px;      
  }
  .socials svg {
    width: 20px;
    height: 20px;
  }
  .products {
    padding: 0 0 0 0;
  }
  .products_cont {
    width: 90%;
  }
  .products_cont h1 {
    font-size: 50px;
  }
  .pro {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
  .pro div img {
    width: 100%;
    height: auto;
  }
  .text {
    margin-top: 0;
    margin-bottom: 100px;
  }
  .text_p {
    width: 90%;
    font-size: 30px;
  }
  .about_cont {
    flex-direction: column;
    gap: 80px;
    margin-top: 100px;
    /* margin-bottom: 20px; */
  }
  .abouttext h1 {
    font-size: 60px;
  }
  .abouttext p {
    font-size: 25px;
    width: 85%;
  }
  .aboutimage {
    width: 100%;
    height: auto;
  }
  .dualcont {
    flex-direction: column;
    /* gap: 80px; */
  } 
  .dualcont div {
    
    height:50vh;
  }
  .dual div img{
    width: 100%;
    height: auto;
  }
  .footer2 {
    padding: 80px 0;
  }
  .foot2_cont {
 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
  }
  .footmenus{
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}












